[tool.black]
line-length = 88
target-version = ['py310']

[tool.ruff]
line-length = 88

[tool.ruff.lint]
# Habilita as regras do Flake8 (F) e isort (I)
select = ["F", "I"]
ignore = []

[tool.ruff.format]
quote-style = "double"
